<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>chenjh16.workflows.dict</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>27E60581-8105-41DD-8E29-4FE811179098</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBA62127-3B78-4B80-B82B-1C6AEC393003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91C343E7-50D8-4B0D-9034-1C16C20DA8D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F99C4C55-10F5-4D62-A77D-F27058629B21</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Press `return` to open web page.</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>27E60581-8105-41DD-8E29-4FE811179098</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4473C9D3-7A15-4D31-84F6-A096A7CFF46C</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Press `return` to pronunciation (US).</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BA76F380-356A-4CFD-9AE1-B424470C622D</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Press `return` to pronunciation (UK).</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>F0806996-1121-4673-A801-231860EA66A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91C343E7-50D8-4B0D-9034-1C16C20DA8D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F90DBD96-A650-4261-ADBE-20110994AAC6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91C343E7-50D8-4B0D-9034-1C16C20DA8D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F99C4C55-10F5-4D62-A77D-F27058629B21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A03FDC5-89AC-4F9D-9456-3762ACA751FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>chenjh16</string>
	<key>description</key>
	<string>A workflow of the online and offline cached dictionary for Alfred 3.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dict</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>35</integer>
				<key>script</key>
				<string>/usr/bin/python succfunc.py "{query}" 0</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F99C4C55-10F5-4D62-A77D-F27058629B21</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://dict.youdao.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6A03FDC5-89AC-4F9D-9456-3762ACA751FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DBA62127-3B78-4B80-B82B-1C6AEC393003</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F90DBD96-A650-4261-ADBE-20110994AAC6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>32</integer>
				<key>script</key>
				<string>/usr/bin/python succfunc.py "{query}" 1</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>27E60581-8105-41DD-8E29-4FE811179098</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>32</integer>
				<key>keyword</key>
				<string>.</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Pull now...</string>
				<key>script</key>
				<string>/usr/bin/python dict.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Translation tool for Alfred.</string>
				<key>title</key>
				<string>Alfred Dict</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>91C343E7-50D8-4B0D-9034-1C16C20DA8D4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>35</integer>
				<key>script</key>
				<string>/usr/bin/python succfunc.py "{query}" 2</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4473C9D3-7A15-4D31-84F6-A096A7CFF46C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F0806996-1121-4673-A801-231860EA66A3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>35</integer>
				<key>script</key>
				<string>/usr/bin/python succfunc.py "{query}" 3</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BA76F380-356A-4CFD-9AE1-B424470C622D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Alfred Workflow Dict

A workflow of the online and offline cached dictionary for **Alfred 3**.

### Usage:

- Start with `.` to look up a word.
- Type `.>;` to show the commands list.
- Press `alt` and `return` to pronunciation (US).
- Press `cmd` and `return` to pronunciation (UK).
- Tap `hotkey` to look up a word.
- Select a word and tap `hotkey` to look up it.

### Features:

- Autocompleting support.
- Pronunciation support.
- Look up the selected text.
- Offline cache support.
- Select and look up support.
- History list with frequency support.

## Acknowledgement

This project is based on https://github.com/liszd/whyliam.workflows.youdao.</string>
	<key>uidata</key>
	<dict>
		<key>27E60581-8105-41DD-8E29-4FE811179098</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>4473C9D3-7A15-4D31-84F6-A096A7CFF46C</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>6A03FDC5-89AC-4F9D-9456-3762ACA751FE</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>91C343E7-50D8-4B0D-9034-1C16C20DA8D4</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>BA76F380-356A-4CFD-9AE1-B424470C622D</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>DBA62127-3B78-4B80-B82B-1C6AEC393003</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>F0806996-1121-4673-A801-231860EA66A3</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>F90DBD96-A650-4261-ADBE-20110994AAC6</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>F99C4C55-10F5-4D62-A77D-F27058629B21</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>show_simple_explains</key>
		<string>1</string>
		<key>use_cache</key>
		<string>1</string>
		<key>youdao_key</key>
		<string></string>
		<key>youdao_keyfrom</key>
		<string></string>
		<key>zhiyun_id</key>
		<string></string>
		<key>zhiyun_key</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>youdao_key</string>
		<string>show_simple_explains</string>
		<string>use_cache</string>
		<string>youdao_keyfrom</string>
		<string>zhiyun_id</string>
		<string>zhiyun_key</string>
	</array>
	<key>version</key>
	<string>1.0.4</string>
	<key>webaddress</key>
	<string>https://github.com/chenjh16/chenjh16.workflows.dict</string>
</dict>
</plist>
